<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="serializePath" value="accountInfo.txt" />
		<add key="encryptKey" value="kE7rQ1wA5pU3jM8o" />
	</appSettings>
</configuration>