<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="serializePath" value="accountInfo.txt" />
		<add key="encryptKey" value="kE7rQ1wA5pU3jM8o" />
		<add key="seedData" value="true" />
		<add key="port" value="7756" />
		<add key="candidateRegisterUrl" value="/candidate/register" />
		<add key="candidateLoginUrl" value="/candidate/login" />
		<add key="vacanciesCountUrl" value="/vacancies/count" />
		<add key="vacanciesUrl" value="/vacancies" />
		<add key="applicationsCountUrl" value="/applications/count" />
		<add key="applicationsCreateUrl" value="/applications/create" />
		<add key="applicationsUrl" value="/applications" />
		<add key="interviewsCountUrl" value="/interviews/count" />
		<add key="interviewsUrl" value="/interviews" />
	</appSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="RecruitmentEntities" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Bohdan\source\repos\Recruitment\RecruitmentServer\RecruitmentDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>